/* ======================================================================================================
   == | == COLOURS
   ====================================================================================================== */
$white:       	#ffffff;
$black:			#222222;

$blue: dodgerblue;



/* ======================================================================================================
   == | == Z-INDEX
   ====================================================================================================== */
$z-under:     -100;
$z-body:      0;
$z-up:        500;
$z-over:      1000;
