@charset "UTF-8";
/*
sass --watch css/style.scss
*/
/* ======================================================================================================
   == | == REFERENCE
   ====================================================================================================== */
/*



[att^="val"] – the “begins with” selector
[att$="val"] – the “ends with” selector
[att*="val"] – the “contains” selector



*/
/* ======================================================================================================
   == | == IMPORTS
   ====================================================================================================== */
/* ======================================================================================================
   == | == RESET / NORMALISE
   ====================================================================================================== */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block; }

audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

audio:not([controls]) {
  display: none; }

[hidden] {
  display: none; }

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

html, button, input, select, textarea {
  font-family: sans-serif;
  color: #222; }

body {
  margin: 0;
  font-size: 1em;
  line-height: 1.4; }

::-moz-selection {
  background: #fe57a1;
  color: #fff;
  text-shadow: none; }

::selection {
  background: #fe57a1;
  color: #fff;
  text-shadow: none; }

a {
  color: #00e; }

a:visited {
  color: #551a8b; }

a:hover {
  color: #06e; }

a:hover, a:active {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: bold; }

blockquote {
  margin: 1em; }

dfn {
  font-style: italic; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

ins {
  background: #ff9;
  color: #000;
  text-decoration: none; }

mark {
  background: #ff0;
  color: #000;
  font-style: italic;
  font-weight: bold; }

pre, code, kbd, samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: none; }

q:before, q:after {
  content: "";
  content: none; }

small {
  font-size: 75%; }

big {
  font-size: 125%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

ul, ol {
  margin: 0;
  padding: 0; }

dd {
  margin: 0 0 0 40px; }

nav ul, nav ol {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0; }

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 0; }

form {
  margin: 0; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

label {
  cursor: pointer; }

legend {
  border: 0;
  *margin-left: -7px;
  padding: 0;
  white-space: normal; }

button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle; }

button, input {
  line-height: normal; }

button, input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible; }

button[disabled], input[disabled] {
  cursor: default; }

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *width: 13px;
  *height: 13px; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical; }

input:invalid, textarea:invalid {
  background-color: #f0dddd; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td {
  vertical-align: top; }

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: black;
  padding: 0.2em 0; }

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 0;
  font-size: 100%; }

p {
  margin: 0 0 1em; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

*, *:before, *:after {
  background-repeat: no-repeat; }

*, *:before, *:after {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/* ======================================================================================================
   == | == COLOURS
   ====================================================================================================== */
/* ======================================================================================================
   == | == Z-INDEX
   ====================================================================================================== */
/* ======================================================================================================
   == | == MIXINS
   ====================================================================================================== */
/* Image Replacement */
/* Opacity */
/* Transition */
/* Placeholder Styles */
/* Clearing Floats */
/* ======================================================================================================
   == | == FONTS
   ====================================================================================================== */
/* ======================================================================================================
   == | == DEBUG STYLES
   ====================================================================================================== */
/* ======================================================================================================
   == | == BODY
   ====================================================================================================== */
body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.5;
  color: #222222;
  background-color: #ffffff; }

::-moz-selection {
  background: dodgerblue;
  color: #fff;
  text-shadow: none; }

::selection {
  background: dodgerblue;
  color: #fff;
  text-shadow: none; }

/* ======================================================================================================
   == | == LAYOUT
   ====================================================================================================== */
/* == | == Column system
   == | */
.columns .column {
  width: 100%;
  zoom: 1; }
  .columns .column:before, .columns .column:after {
    content: '\0020';
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0; }
  .columns .column:after {
    clear: both; }

@media only screen and (min-width: 768px) {
  .columns {
    zoom: 1; }
    .columns:before, .columns:after {
      content: '\0020';
      display: block;
      overflow: hidden;
      visibility: hidden;
      width: 0;
      height: 0; }
    .columns:after {
      clear: both; }

  .columns .column {
    float: left; }

  .columns .column.half {
    width: 50%; }

  .columns .column.half:nth-of-type(odd) {
    padding-right: 20px; }

  .columns .column.half:nth-of-type(even) {
    padding-left: 20px; }

  .columns .column.third {
    width: 33.3%;
    padding-left: 20px;
    padding-right: 20px; }

  .columns .column.third:nth-of-type(3n+1) {
    padding-left: 0;
    padding-right: 20px; }

  .columns .column.third:nth-of-type(3n) {
    padding-left: 20px;
    padding-right: 0; }

  .columns .column.two-thirds {
    width: 66.6%;
    padding-left: 20px;
    padding-right: 20px; }

  .columns .column.two-thirds:nth-of-type(odd) {
    padding-left: 0;
    padding-right: 20px; }

  .columns .column.two-thirds:nth-of-type(even) {
    padding-left: 20px;
    padding-right: 0; }

  .columns .column.two-thirds ~ .column.third:nth-of-type(odd) {
    padding-left: 0;
    padding-right: 20px; }

  .columns .column.two-thirds ~ .column.third:nth-of-type(even) {
    padding-left: 20px;
    padding-right: 0; }

  .columns .column.quarter {
    width: 25%;
    padding-left: 20px;
    padding-right: 20px; }

  .columns .column.quarter:nth-of-type(4n+1) {
    padding-left: 0;
    padding-right: 30px; }

  .columns .column.quarter:nth-of-type(4n+2) {
    padding-left: 10px;
    padding-right: 20px; }

  .columns .column.quarter:nth-of-type(4n+3) {
    padding-left: 20px;
    padding-right: 10px; }

  .columns .column.quarter:nth-of-type(4n) {
    padding-left: 30px;
    padding-right: 0; } }
body {
  padding: 20px; }

section {
  padding: 20px 0; }

.container {
  position: relative;
  padding: 0 20px;
  margin-left: auto;
  margin-right: auto; }

.container.thin {
  width: 600px; }

@media only screen and (max-width: 767px) {
  .container, .container.thin {
    width: 100%; } }
/* == | == Consistent spacing ftw!
   == | */
h1, h2, h3, h4, h5, h6, p,
fieldset, .field,
input[type="text"], input[type="email"], input[type="password"],
button, input[type="submit"],
textarea,
.error,
.notice,
.icon.arrow {
  margin-bottom: 20px; }

/* ======================================================================================================
   == | == GENERAL STYLES
   ====================================================================================================== */
/* == | == links
   == | */
a, a:link {
  text-decoration: underline;
  color: inherit; }

a:hover {
  text-decoration: none; }

/* ======================================================================================================
   == | == MODULAR
   ====================================================================================================== */
/* == | == modular text tools
   == | */
.small {
  font-size: 10px;
  letter-spacing: .5px; }

.center {
  text-align: center; }

.instructions {
  font-size: 45px;
  text-align: center;
  color: lightgrey; }
  .instructions .key {
    padding: 10px;
    border-color: lightgrey; }

.key {
  padding: 5px;
  border: 1px solid black;
  border-radius: 3px; }

/* == | == (title)
   == | */
.results {
  position: fixed;
  top: 120px;
  left: 0;
  bottom: 0;
  width: 100%;
  overflow-y: scroll;
  padding: 20px; }

.result {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 80px;
  padding-bottom: 80px;
  border-bottom: 1px solid lightgrey; }

.result__codes {
  margin-bottom: 80px;
  text-align: center; }

.swatch {
  width: 40px;
  height: 40px;
  margin: 5px; }

.swatch--gradient {
  position: relative;
  background-image: linear-gradient(to top right, rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.1)); }
  .swatch--gradient::before {
    content: '';
    top: 0;
    bottom: 0;
    left: 0;
    right: 0; }

.controls {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 120px;
  padding: 20px;
  display: flex;
  justify-content: space-around;
  margin-bottom: 40px;
  border-bottom: 1px solid lightgrey; }

.control {
  position: relative;
  width: 120px;
  height: 80px;
  padding-left: 10px;
  text-align: left; }

.control__input--number {
  position: absolute;
  -webkit-transform: rotate(-90deg);
  float: left;
  margin-top: 35px;
  margin-left: -56px;
  width: 80px; }

.control__header {
  height: 20px;
  line-height: 20px;
  margin-bottom: 0;
  font-size: 9px;
  text-transform: uppercase;
  letter-spacing: 1px; }

.control__value {
  pointer-events: none;
  border: none;
  height: 60px;
  margin-top: 12px;
  font-size: 48px;
  font-weight: 100; }

.control__value--base {
  height: 60px;
  padding: 0 10px;
  border-width: 1px;
  border-style: solid; }
  .control__value--base:focus {
    outline: none;
    color: lightgrey;
    border-color: lightgrey; }

.control__value--number {
  width: 110px;
  height: 60px; }

.control--base-colour {
  width: 120px; }

input[type=range] {
  -webkit-appearance: none; }

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 1px;
  height: 10px;
  padding: 0;
  background: black;
  cursor: pointer; }

input[type=range]::-webkit-slider-runnable-track {
  height: 10px;
  cursor: pointer;
  background-color: transparent;
  border-bottom: 1px solid black; }

input[type=range]:focus {
  outline: none; }

input[type=range]:focus::-webkit-slider-runnable-track {
  outline: none;
  border-bottom: 1px solid dodgerblue; }

input[type=range]:focus::-webkit-slider-thumb {
  background-color: dodgerblue; }

input[type=range]:focus ~ h4,
input[type=range]:focus ~ .control__value {
  color: dodgerblue; }
  input[type=range]:focus ~ h4 > .key,
  input[type=range]:focus ~ .control__value > .key {
    border-color: dodgerblue; }

/* ======================================================================================================
   == | == ELEMENT-SPECIFIC
   ====================================================================================================== */
/* == | == (title)
   == | */
/* ======================================================================================================
   == | == PAGE SPECIFIC
   ====================================================================================================== */
/* == | == (title)
   == | */
/* ======================================================================================================
   == | == MEDIA QUERIES
   ====================================================================================================== */
/* == | == retina
   == | */
/* == | == tablet
   == | */
/* == | == tablet / retina
   == | */
/* == | == large
   == | */
/* == | == large / retina
   == | */
/* ======================================================================================================

   == | == PRINT STYLES

   ====================================================================================================== */
@media print {
  * {
    background: transparent !important;
    color: black !important;
    box-shadow: none !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important; }

  a, a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
    content: ""; }

  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group; }

  tr, img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  @page {
    margin: 0.5cm; }
  p, h2, h3 {
    orphans: 3;
    widows: 3; }

  h2, h3 {
    page-break-after: avoid; } }

/*# sourceMappingURL=style.css.map */
